{% trans_default_domain 'FOSUserBundle' %}

{% extends 'AgriwinSiteBundle::layout.html.twig' %}

{% block title %}Avis des clients{% endblock %}

{% block itemavis %}
<li class="nav-item active">
{% endblock itemavis %}

{% block section %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

{% else %}

<span class="text-alert">Veuillez vous connecter pour consulter les avis de nos clients.</span>

{% endif %}

{% endblock section %}