{% trans_default_domain 'FOSUserBundle' %}

{% extends 'AgriwinSiteBundle::layout.html.twig' %}

{% block title %}Tarifs{% endblock %}

{% block section %}
<div class="tarifs">
    <div class="container mt-4 mb-5">
        <h2 class="border-bottom pb-1" style="color:#c77911;border-bottom-color:#c77911 !important;">NOS OFFRES AGRIWIN</h2>
        <h4 class="text-dark mt-4 intro pl-1">Pour tracteur</h4>
        <div class="bloc">
            <div class="contain mt-5 d-flex justify-content-around mx-auto pb-5 col-sm-6">
                <div class="col-sm-8 txt">
                    <p class="col-sm-8 text-center"><strong>1 kit Tracteur</strong> (équipement pour 4 roues + boîter électronique) <strong><span class="price">5500€</span> NET HT</strong></p>
                </div>
                <div class="img">
                    <img src="{{ asset('images/tarifs/tracteur.png') }}" alt="" width="400" />
                </div>
            </div>
        </div>
        <div class="bloc">
            <div class="contain mt-5 d-flex justify-content-around mx-auto pb-5 col-sm-6">
                <div class="col-sm-8 txt">
                    <p class="col-sm-8 text-center"><strong>Offre sérénité</strong> (équipement pour 4 roues + boîter électronique + montage) <strong><span class="price">6995€</span> NET HT</strong></p>
                </div>
                <div class="img">
                    <img src="{{ asset('images/tarifs/tracteur2.png') }}" alt="" width="400" />
                </div>
            </div>
        </div>
        <div class="bloc">
            <div class="contain mt-5 d-flex justify-content-around mx-auto pb-5 col-sm-6">
                <div class="col-sm-8 txt">
                    <p class="col-sm-8 text-center"><strong>1 kit Tracteur</strong> (équipement pour 4 roues + liaison ISOBUS) <strong><span class="price">5900€</span> NET HT</strong></p>
                </div>
                <div class="img">
                    <img src="{{ asset('images/tarifs/isobus.jpg') }}" class="isobus" alt="" width="300" />
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock section %}