{% trans_default_domain 'FOSUserBundle' %}

{% extends 'AgriwinSiteBundle::layout.html.twig' %}

{% block title %}Tarifs{% endblock %}

{% block section %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

<div class="tarifs">
    <div class="container mt-4 mb-5">
        <h2 class="border-bottom pb-1" style="color:#c77911;border-bottom-color:#c77911 !important;">NOS OFFRES AGRIWIN</h2>
        <h4 class="text-dark mt-4 intro pl-1">Pour tracteur</h4>
        <div class="col-sm-12 d-flex justify-content-between mt-5">
            <div class="col-sm-5 border border-secondary rounded p-4">
                <h4 class="text-center">Avec Boitier</h4>
                <div class="text-center mt-4">
                    <img src="{{ asset('images/tarifs/tracteur2.png') }}" width="260" height="200" alt="" />
                </div>
            </div>
            <div class="col-sm-5 border border-secondary rounded p-4">
                <h4 class="text-center">Avec ISOBUS</h4>
                <div class="text-center mt-4">
                    <img src="{{ asset('images/tarifs/isobus.jpg') }}" width="260" height="200" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}

<div class="container mt-4">
    <span class="alert alert-danger">Veuillez vous connecter pour voir les tarifs Agriwin <a href="{{ path('fos_user_security_login') }}" class="alert-link">en cliquant ici</a>.</span>
</div>

{% endif %}

{% endblock section %}