{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="mt-4">
        <label for="username">{{ 'Adresse e-mail' }}</label>
        <input type="text" id="username" name="username" required="required" />
    </div>
    <div>
        <input type="submit" class="btn btn-dark" value="{{ 'resetting.request.submit'|trans }}" />
    </div>
</form>
</div>
