/*!
 * Agriwin Website
 * Copyright 2018 Sodijantes Industrie
 * All rights reserved
*/

body {
    background: linear-gradient(to left,#fafafa,#f0f0f0);
    font-size: 16px;
}

.logo {
    width: 120px;
    height: 120px;
}

/* NAV */

.nav-item {
    border-bottom: solid 3px transparent;
}
.nav-item:hover {
    border-bottom: solid 3px #c77911;
}
.nav-item.active:hover {
    border-bottom: 0;
}

/* LOGIN */

.container-login {
    display: flex;
}
.form-login {
    width: 60%;
    padding-right: 4rem !important;
}
.bloc-login-right {
    padding-left: 3rem !important;
    border-left: solid 1px #dee2e6 !important;
}

/* REGISTER */

.container.register .captcha {
    border-top: solid 1px #dee2e6;
}

/* PROFILE SHOW */

.info-user {
    border-bottom: solid 1px #dee2e6;
}

/* INDEX */

.index .col-md-12 {
    background-color: #dedede;
}

.index h4.intro {
    border-left: solid 3px #c77911;
}
.index .grey {
    background-color: #dcdcdc;
}
.index .grey .first {
    display: flex;
    justify-content: space-between;
}
.index .grey .first img {
    width: 350px;
    height: 350px;
}
.index .stickers img {
    height: 100px;
}
.index .video, .index iframe {
    width: 560px;
    height: 310px;
}
.index .img-presentation img {
    width: 300px;
    height: 200px;
}

/* AVANTAGES */

.avantages h4.intro {
    border-left: solid 3px #c77911;
}
.avantages .grey {
    background-color: #dcdcdc;
}
.avantages .second {
    display: flex;
    flex-direction: column;
}
.avantages .second .list {
    display: flex; 
    margin-bottom: 40px;
    margin-left: 180px;
}
.avantages .second .list p {
    align-self: flex-end;
    margin: 0 0 0 30px !important;
}
.avantages ul {
    line-height: 35px;
}
.avantages .grey .four p {
    line-height: 35px;
}

/* TARIFS */

.tarifs .bloc {
    border-bottom: solid 1px #c0c0c0;
}
.tarifs h4.intro {
    border-left: solid 3px #c77911;
}
.tarifs p {
    border: solid 3px #c77911;
    border-radius: 50%;
    padding: 25px;
    color: #92d050;
}
.tarifs p .price {
    color: #c77911;
}