/*!
 * Agriwin Website
 * Copyright 2018 Sodijantes Industrie
 * All rights reserved
*/

body {
    font-size: 2.5em;
}
h1, h2, h3, h4 {
    font-size: 1.5em;
}
.container { 
    max-width: 99% !important;
}
.logo {
    width: 240px;
    height: 240px;
}
input {
    font-size: 1.1em !important;
    height: 1.5em !important;
}
.navbar-toggler-icon {
    width: 3.5em !important;
    height: 3.5em !important;
    padding-bottom: 0 !important;
}

* {
    word-wrap: break-word;
}

/* NAV */

.nav-item, .nav-link.last  {
    border-bottom: none !important;
}
.nav-link {
    border-bottom: solid 1px #6c757d !important;
    padding-left: 0 !important;
}
.nav-link.border-right {
    border-right: none !important;
}
.nav-link.border-left {
    border-left: none !important;
}
.nav-link.account {
    border-top: solid 1px #6c757d !important;
}

/* LOGIN */

.container-login {
    display: flex;
    flex-direction: column;
}
.form-login {
    width: 100%;
    padding-right: 0 !important;
}
.bloc-login-right {
    padding-left: 0 !important;
    border-left: none !important;
    margin-top: 1rem !important;
}

/* REGISTER */

.container.register .form-group {
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
}

.container.register .form-group.captcha {
    -ms-flex: 0 0 33.333333% !important;
    flex: 0 0 33.333333% !important;
    max-width: 33.333333% !important;
}

/* INDEX */

.index .col-md-12 {
    height: 500px;
}

.index .grey .first {
    display: flex;
    flex-direction: column;
}
.index .grey .first .col-sm-6 {
    max-width: 99% !important;
}
.index .grey .first img {
    width: 800px;
    height: 800px;
    margin-left: auto !important;
    margin-right: auto !important;
}